[Unit]
Description=uWSGI Emperor service
After=syslog.target vagrant.mount

[Service]
ExecStartPre=/bin/bash -c 'sudo mkdir -p /run/uwsgi; sudo chown ubuntu:www-data /run/uwsgi'
ExecStart=/home/ubuntu/.virtualenvs/env/bin/uwsgi --emperor /etc/uwsgi/sites
# WorkingDirectory=/home/ubuntu/server/website
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=uwsgi
User=ubuntu
Group=www-data
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
#WantedBy=vagrant.mount
